/*Header*/

.cont{
    height: 36rem;
    background-image: url(https://www.bmw.com.bo/content/dam/bmw/common/home/teaser/bmw-concept-i4-hometeaser-desktop.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1583221497462.jpg);
    background-size:100% 100%;
    padding: 1rem;
}
nav ul li a{
    font-weight: 800;
    font-size: 1rem;
}
header nav ul li a:hover{
    border-bottom: 5px solid blue;
}
.texto1{
    color: #fff;
    padding: 5rem;
}
.texto1 h1{
    font-size: 3rem;
}
.texto1 p{
    font-size: 1.5rem;
}
.boton{
    width: 15rem;
    height: 3rem;
    background: #0653B6;
    border: none;
    color: #fff;
    border: solid 2px black;
}
.cotiza{
    text-align: center;
}
.cotiza button{
    width: 20rem;
    height: 2.5rem;
    background: #0653B6;
    border: none;
    color: #fff;
    border: solid 2px black;
}
.btn:hover{
    background-color: #835D44;
}
.opciones:hover{
    background-color:#0653B6;
    border-radius: 10px;
    transition: all 0.5s;
    color: #fff;
    border: none;
}

/*body*/
body ul li a{
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    font-weight: 600;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    color: #666666;
}
.numerox{
    background: #959597; 
    padding: 2rem 2rem 2rem 2rem; 
    font-size: 1.5rem;
    border-radius: 10px;
}
body ul li a:hover{
    border-bottom: 5px solid #959597;
}
.page-link{
    padding: 1.8rem;
    text-align: center;
    font-weight: 600;
    border: none;
}



/*opciones*/

.card{
    border: none;
}
.button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
}
nav a{
    border: none;
}
.card-body a:hover{
    background: rgb(219, 219, 219);
    transition: a 0.1s;
}
.espacio{
    padding: 2rem 0rem 1rem 5rem;
}

/*footer*/
.jumbotron{
    padding: 3rem;
    text-align: right;
}

@media screen and (min-width: 1300px) {

    .contenedor{
      width: 90%;
      max-width: 1500px;
      margin: 0 auto;
    }
  
  }

  @media screen and (max-width: 600px) {

    body ul li a{
        padding: 1rem 1rem 1rem 1rem;
        text-align: center;
        font-weight: 600;
        border: none;
        font-size: 0.5rem;
        border-radius: 10px;
        color: #666666;
    }
    .numerox{
        background-color: #959597; 
        padding: 1rem 1rem 1rem 1rem; 
        font-size: 0.5rem;
    }
    .espacio{
        padding: 1rem 0rem 1rem 0.5rem;
    }
  }