/*Header*/
.cont{
    height: 36rem;
    background-image: url(https://www.bmw.com.bo/content/dam/bmw/marketLATAM/common/Home/teaser/Campa%C3%B1a-Marzo-1680x756.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1520272839792.jpg);
    background-size:100% 100%;
    padding: 1rem;
}
nav ul li a{
    font-weight: 800;
    font-size: 1rem;
}
header nav ul li a:hover{
    border-bottom: 5px solid blue;
}
.texto1{
    color: #fff;
    padding: 5rem;
}
.texto1 h1{
    font-size: 3rem;
}
.texto1 p{
    font-size: 1.5rem;
}
.boton{
    width: 15rem;
    height: 3rem;
    background: #0653B6;
    border: none;
    color: #fff;
    border: solid 2px black;
}
.cotiza{
    text-align: center;
}
.cotiza button{
    width: 20rem;
    height: 2.5rem;
    background: #0653B6;
    border: none;
    color: #fff;
    border: solid 2px black;
}
.btn:hover{
    background-color: #835D44;
}
.opciones:hover{
    background-color:#0653B6;
    border-radius: 10px;
    transition: all 0.5s;
    color: #fff;
    border: none;
}

/*body*/
.button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
}
nav a{
    border: none;
}
.card-body a:hover{
    background: rgb(219, 219, 219);
    transition: a 0.1s;
}

/*footer*/
.jumbotron{
    padding: 3rem;
    text-align: right;
  }

  @media screen and (min-width: 1300px) {

    .contenedor{
      width: 90%;
      max-width: 1500px;
      margin: 0 auto;
    }
  
  }