/*Header*/


nav ul li a{
    font-weight: 800;
    font-size: 1rem;
}
header nav ul li a:hover{
    border-bottom: 5px solid blue;
}
.texto1{
    color: #fff;
    padding: 5rem;
}
.texto1 h1{
    font-size: 3rem;
}
.texto1 p{
    font-size: 1.5rem;
}
.boton{
    width: 15rem;
    height: 3rem;
    background: #0653B6;
    border: none;
    color: #fff;
    border: solid 2px black;
}
.cotiza{
    text-align: center;
}
.cotiza button{
    width: 20rem;
    height: 2.5rem;
    background: #0653B6;
    border: none;
    color: #fff;
    border: solid 2px black;
}
.btn{
    background-color: #0653B6; ;
}
.btn:hover{
    background-color: #835D44;
}
.opciones:hover{
    background-color:#0653B6;
    border-radius: 10px;
    transition: all 0.5s;
    color: #fff;
    border: none;
}
.opciones:hover{
    background-color:#0653B6;
    border-radius: 10px;
    transition: all 0.5s;
    color: #fff;
    border: none;
}
.des{
    transition: all 1.1s;
}

/*body*/

body ul li a{
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    font-weight: 600;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    color: #666666;
}
body ul li a:hover{
    border-bottom: 5px solid #959597;
}
.page-link{
    padding: 1.8rem;
    text-align: center;
    font-weight: 600;
    border: none;
}

@media screen and (min-width: 1300px) {

    .contenedor{
      width: 90%;
      max-width: 1500px;
      margin: 0 auto;
    }
  
  }