<header class="contenedor">
    <div class="cont dropdown">
        <nav class="navbar navbar-expand-lg navbar-dark" >
          <a class="navbar-brand" href="#" style="color: #000;">BWM</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #000;">
            <span class="navbar-toggler-icon" ></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active ">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" style="color: #000;">Servicios <span class="sr-only">(current)</span></a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item opciones" href="/serviciocliente" style="font-family: 'Times New Roman', Times, serif; " >Atencion al clientes</a>
                  <a class="dropdown-item opciones" href="#" style="font-family: 'Times New Roman', Times, serif;">Accesorios Originales BMW</a>
                </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" style="color: #000;">Descubre <span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item opciones" href="/visioncars" style="font-family: 'Times New Roman', Times, serif; ">Concept Cars</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #fff; border: 1px solid #fff;">Search</button>
                <nav class="navbar navbar-light ">
                <a class="navbar-brand" href="/redoficial">
                    <img src="https://img.icons8.com/ios-filled/50/000000/region-code.png"/>
                </a>
                </nav>
                  <nav class="navbar navbar-light ">
                <a class="navbar-brand" href="inicio">
                    <img src="https://img.icons8.com/ios/50/000000/bmw.png" width="50" height="50" alt="" loading="lazy">
                </a>
                </nav>
            </form>
          </div>
        </nav>
        <hr>
      </div>
</header>
<body class="contenedor">
    <div class="row">
        <div class="col-sm">
          <div class="card" style="border: none;">
            <div class="card-body" style="padding: 2rem;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121831.37622608835!2d-66.1479851765017!3d-17.400722122012862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e3746a39de605f%3A0xc3dfbccbec3a9ed1!2sBMW%20Master%20Motors!5e0!3m2!1ses-419!2sbo!4v1606834663755!5m2!1ses-419!2sbo" width="1100" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card" style="border: none;">
            <div class="card-body" style="padding: 2rem; display: flex;">
                <div style="padding: 2rem;">
                    <h4>Master Motors</h4>
                    <p>Av. America Oeste 715 <br>Cochabamba</p>
                </div>
                <div style="padding: 2rem;">
                    <p><strong>Contacto</strong></p>
                <p>Teléfono: 04-4 281411 <br>Fax:04 -4 281411</p>
                </div>
                <div style="padding: 2rem;">
                    <p><strong>Servicios disponibles</strong></p>
                <ol>
                    <li>BMW Nuevos</li>
                    <li>BMW Service</li>
                </ol>
                </div>
            </div>
          </div>
        </div>
      </div>
</body>

<footer>
  <div>
    <p >&copy; BMW GROUP 2020</p>
  </div>
</footer>